.result.default {
  color: #333d41;
  padding: 1em;
}

.result.default h1, .result.default h2, .result.default h3, .result.default h4, .result.default h5, .result.default h6 {
  font-weight: bold;
}

.result.default h2 {
  font-weight: bold;
}

.result.default ul li {
  margin: 0.4em 0;
}

.result.default a {
  border-bottom: 1px solid #91b7c7;
  text-decoration: none;
  color: #333d41;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.result.default a:hover {
  color: #91b7c7;
}