.App {
  width: 100%;
  height: 100%;
}

.col {
  padding: 0;
  margin: 0;
}

.editor {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}

.editor textarea {
  display: block;
  min-height: 100vh;
  border: 0;
  resize: none;
  font-size: 0.9em;
}

.CodeMirror {
  height: 100%;
  width: 100%;
}

.icon-folder {
  opacity: 0.6;
}

.icon-folder:hover {
  opacity: 1.0;
}

.icon-save {
  opacity: 0.6;
}

.icon-save:hover {
  opacity: 1.0;
}