.App {
  width: 100%;
  height: 100%;
}

.editor {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}

.editor textarea {
  display: block;
  min-height: 100vh;
  border: 0;
  resize: none;
  font-size: 0.9em;
}

.CodeMirror {
  height: 100%;
  width: 50%;
}

.result img {
  width: 100%;
}